@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "nprogress";
@import "nprogress-bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "rails_bootstrap_forms";

body {
  padding-top: 40px;

  .jumbotron {
    text-align: center;
    h1 {
      font-size: 30px;
    }
  }
}
